# Python Virtual Environment and Bytecode
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Django and Database specific
*.log
db.sqlite3
db.sqlite3-journal
/media
/static

# Compiled files
*.pyc

# Environments
.env
ENV/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Replit
.cache/
.upm/